<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Required Stylesheets -->
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
            type="text/css"
            rel="stylesheet"
            href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Ejemplo CRUD con VueJS</title>
</head>
<body>

<div class="container" id="app">
    <div class="row mt-3">
        <div class="col-sm">
            <h1 class="text-center">Lab Reservations</h1>
            <div>
                <b-button variant="outline-primary" v-b-modal.modal-1 @click="nuevoEstudiante">Create New Reservation</b-button>
                <button class="btn btn-secondary" @click="previousReservations">Previous Reservations</button>
                <button class="btn btn-secondary" @click="currentReservations">Current Reservations</button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Laboratory</th>
                    <th scope="col">Schedule</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="reservation in reservations">
                    <td>{{reservation.matricula}}</td>
                    <td>{{reservation.name}}</td>
                    <td>{{reservation.email}}</td>
                    <td>{{reservation.laboratory}}</td>
                    <td>{{reservation.schedule}}</td>
                    <td>
                        <button class="btn btn-secondary" @click="editarEstudiante(reservation)">Edit</button> |
                        <button class="btn btn-danger" @click="eliminarEstudiante(reservation)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <b-modal id="modal-1" hide-footer :title="titulo">
        <b-form @submit.prevent="crearActualizarEstudiante" @reset="limpiar" >

            <!-- Matricula       -->
            <b-form-group
                    label="Matrícula"
                    label-for="g1">
                <b-form-input
                        id = "g1"
                        v-model="nuevo.matricula"
                        type="number"
                        required
                        placeholder="Matrícula"
                ></b-form-input>
            </b-form-group>

            <!-- Nombre            -->
            <b-form-group
                    label="Name:"
                    label-for="g3">
                <b-form-input
                        id = "g3"
                        v-model="nuevo.name"
                        type="text"
                        required
                        placeholder="Name"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                    label="Email:"
                    label-for="g3">
                <b-form-input
                        id = "g3"
                        v-model="nuevo.email"
                        type="text"
                        required
                        placeholder="Email"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                    label="Schedule:"
                    label-for="g3">
                <b-form-input
                        id = "g3"
                        v-model="nuevo.schedule"
                        type="text"
                        required
                        placeholder="01-01-2001 13:00:00"
                ></b-form-input>
            </b-form-group>
            <br>

                <div>
                    <p>Seleccione un laboratorio:</p>
                    <b-form-select v-model="nuevo.laboratory" :options="options"></b-form-select>
                </div>

            <br>
            <b-button type="submit" variant="primary">Send</b-button>
            <b-button type="reset" variant="danger">Clear</b-button>
        </b-form>
    </b-modal>
</div>

<!-- Libreria Vuejs -->
<script>

    var URL_API = "https://k7uw8l2b19.execute-api.us-east-1.amazonaws.com/test2/test";

    var app = new Vue({

        el: '#app',

        data: {
            title: "Creating New Reservation",
            editing: false,
            nuevo: {
                matricula: '',
                name: '',
                email: '',
                schedule: '',
                laboratory: ''
            },
            reservations: [],
            selected: null,
            options: [
                { value: 'Lab A1', text: 'Lab A1' },
                { value: 'Lab A2', text: 'Lab A2' },
                { value: 'Lab A3', text: 'Lab A3' },
                { value: 'Lab A4', text: 'Lab A4' },
                { value: 'Lab A5', text: 'Lab A5' },
                { value: 'Lab A6', text: 'Lab A6' },
            ],
            titulo:"Serverless"
        },

        created: function () {//representa la función de inicialización Vuejs

            console.log("Inicializando le proyecto en Vuejs: ", this.title);
        },

        mounted: function () {

            this.$nextTick(function () {  //garantizo que todos los elementos están renderizados.
                console.log("Cargando todo el render del proyecto");
                this.listaEstudiantes();
            });
        },

        methods: {

            listaEstudiantes: function(){
                axios.get(URL_API).then(response => {
                    //
                    console.log("Recuperando información del servidor");
                    console.log("Objeto: "+JSON.stringify(response));
                    //
                    this.reservations = response.data.data.reservations;
                }).catch(error => { console.log(error); });
            },

            currentReservations: function(){
                axios.get(URL_API).then(response => {
                    //
                    console.log("Recuperando información del servidor");
                    console.log("Objeto: "+JSON.stringify(response));
                    //
                    this.reservations = response.data.data.reservations;
                    this.previous = null;
                    this.reservations.forEach((item) => {
                        var date = item.schedule;
                        var dateReserv = new Date(date);
                        var currentDay = new Date().getDay();
                        var currentMonth = new Date().getMonth();
                        var currentYear = new Date().getFullYear();
                        var currentHour = new Date().getHours() + 1;

                        //still active
                        if (currentHour <= dateReserv.getHours() &&
                            currentYear <= dateReserv.getFullYear() &&
                            currentMonth <= dateReserv.getMonth() + 1 &&
                            currentDay <= dateReserv.getDay()){
                            this.previous.add(item);
                        }

                        this.reservations = this.previous;
                    })

                }).catch(error => { console.log(error); });
            },

            previousReservations: function(){
                axios.get(URL_API).then(response => {
                    //
                    console.log("Recuperando información del servidor");
                    console.log("Objeto: "+JSON.stringify(response));
                    //
                    this.reservations = response.data.data.reservations;
                    this.current = null;
                    this.reservations.forEach((item) => {
                        var date = item.schedule;
                        var dateReserv = new Date(date);
                        var currentDay = new Date().getDay();
                        var currentMonth = new Date().getMonth();
                        var currentYear = new Date().getFullYear();
                        var currentHour = new Date().getHours() + 1;

                        //not active
                        if (!(currentHour <= dateReserv.getHours() &&
                            currentYear <= dateReserv.getFullYear() &&
                            currentMonth <= dateReserv.getMonth() + 1 &&
                            currentDay <= dateReserv.getDay())){
                            this.current.add(item);
                        }

                        this.reservations = this.current;
                    })

                }).catch(error => { console.log(error); });
            },

            nuevoEstudiante: function(){
                this.titulo = "New Reservation";
                //this.editando = false;
                this.limpiar();
            },

            crearActualizarEstudiante: function(){
                axios.get(URL_API).then(response => {
                    console.log("datos para almacenar: ", this.nuevo);
                    this.reservations = response.data.data.reservations;
                    this.nuevo.laboratory = response.data.data.options.value;
                    var counter = 0;
                    if (time.getHours() >= 8 && time.getHours() <= 22) {
                        this.reservations.forEach((item) => {
                            if (item.laboratory == this.nuevo.laboratory &&
                                item.schedule == this.nuevo.schedule) {
                                counter = counter + 1;
                            }
                        })
                        if (counter < 7) {
                            axios.post(URL_API, this.nuevo).then(response => {
                                this.limpiar();
                                this.listaEstudiantes();
                            }).catch(error => console.log(error));
                        }
                    }
                }).catch(error => { console.log(error); });
                this.$bvModal.hide('modal-1');
            },

            editarEstudiante: function (reservation) {
                //console.log("El reservation seleccionado para actualizar: ", reservation);
                this.titulo = "Editando Estudiante - "+reservation.matricula;
                this.nuevo = Object.assign({}, reservation); //copiando el objeto, evitando el cambio directo en el form.
                //this.editando = true;
                this.$bvModal.show('modal-1');
            },

            eliminarEstudiante: function (reservation) {
                console.log("Eliminando la matricula: ", reservation);
                axios.delete(URL_API, { data: reservation}).then(response => {
                    this.listaEstudiantes();
                }).catch(error => console.log(error));
            },

            limpiar: function () {
                this.nuevo.matricula='';
                this.nuevo.name='';
                this.nuevo.email='';
                this.nuevo.schedule='';
            }



        }
    });
</script>
</body>
</html>
